body {
  background: #eaeaea;
}

#cabecalho {
  padding-top: 15px;
}

#cabecalho hr {
  margin: 0;
  margin-bottom: 20px;
  color: #77cc6d;
  height: 5px;
}
#menu {
  margin: 0;
  padding-top: 40px;
}
#menu a {
  color: black;
}

#menu a:hover {
  background: #77cc6d;
  color: white;
}
.titulo {
  font-weight: normal;
  color: #555555;
}
.active {
  background: #77cc6d;
  color: white;
}

.no-padding {
  padding: 0;
}

.margem {
  padding: 0px 40px;
}

.bg-white {
  background: white;
}
img {
  width: 100%;
  height: auto;
}
